
<div *ngIf="vehicle">
<h1> Vehicle: {{vehicle.id}} </h1>
<ngb-tabset type="pills">
		<ngb-tab title="Basic Info">
			<ng-template ngbTabContent>
				<h2> Contact Info </h2>
				<ul>
					<li> Name: {{ vehicle.contact.name }} </li>
					<li> Phone: {{ vehicle.contact.phone }} </li>
					<li> Email: {{ vehicle.contact.email }} </li>
				</ul>

				<h2> Vehicle Information </h2>

				<ul>
					<li> Make: {{ vehicle.make.name }}</li>
					<li> Model: {{ vehicle.model.name }}</li>
				</ul>

				<h2> Vehicle Features </h2>

				<ul>
					<li *ngFor="let f of vehicle.features"> {{f.name}} </li>
				</ul>

				<a [routerLink]="['/vehicles/edit/', vehicle.id]">
				<button class="btn btn-primary"> Edit Vehicle </button> </a>

			</ng-template>
		</ngb-tab>



		<ngb-tab title="Photos">
			<ng-template ngbTabContent>
				<p> some other stuff </p>
				<input type="file" (change)="uploadPhoto()" #fileInput >
				<img *ngFor="let photo of photos" src="/Uploads/{{photo.fileName}}" alt="" class="img-thumbnail" >
			</ng-template>
		</ngb-tab>
</ngb-tabset>
</div>